.button {
  padding: 0 18px;
  background-color: #fefefe;
  border-radius: 20px;
}

.button-status {
  color: #fc9410;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
.less-test-wrapper {
  width: 100px;
  height: 100px;
  background-color: #fc9410;
  border-radius: 20px;
}
